.profile{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 35px;
    vertical-align: middle;
}

.textbox{
    border: none;
    font-size: small;
    width: 250px;

}

.tweet{
    background-color: rgb(22, 138, 185);
    border: none;
    color: white;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60px;
}