.a-prop{
    width: 200px;
    border-radius: 20px;
}

.b-prop{
    height: 200px;
    width: 200px;
    object-fit:cover;
    object-position: center;
}

.c-prop{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit:cover;
    object-position: center;
}

.d-prop{

    border-radius: 5px;

}
